.place-order h2{
    text-align: center;

}
 .place-order input,textarea{
    text-align: center;
    margin: 20px;
    padding: 10px;
    border: 2px solid mediumorchid ;
    border-radius: 10px;
}
.order-container{
    background-color: darkslateblue;
    color: lightcyan;
    margin: 20px;
    padding: 20px;
    border-radius: 20px;
}