.head-title{
    font-size: 30px;
}

.user-name{
    text-decoration: none;
}
.private-link button{
    border-radius: 20px;
    font-size: 16px;
    font-weight: 500;

}
.navbar{
    background-color:darkslateblue;
}
.nav-link{
    color: black;
}